.user-detail {
    margin: 5rem auto;
    max-width: 960px;
    width: 70%;
    text-align: center;
  
    img {
      max-width: 250px;
      border-radius: 15px;
    }
  
    ul {
        list-style-type: none;
        li {
            line-height: 30px;
        }
    }
  }
  